/** Variables **/

:root {
    --gray: #aaa;
    --red: #da171b;
    --lime: #78b04f;
    --darkslategray: #133445;
    --white: #FFF;
    --blue: #3573B0;
    --pink: #c45865;
}

/** Generales **/

body {
	font-family: 'Port Lligat Sans', sans-serif;
	font-size: 16px;
}

.wrapper {
	width: 100%;
	height: 100%;
}

.title { 
	font-family: 'Roboto Condensed', sans-serif;
	width: 100%;
}

.navbar-brand.title {
	width: auto;
}

a.navbar-brand,
.nav.navbar-nav a {	color: var(--darkteal); }

.nav.navbar-nav a { font-weight: 600; }

.navbar-toggle .icon-bar { background-color: var(--darkslategray); }

.sufix-badge {
	position: absolute;
    bottom: 8px;
    right: 6px;
    font-size: 65%;
    line-height: 1;
    padding: 3px;
    background: #FFF;
    border: 1px solid #ddd;
    border-radius: 50%;
    box-shadow: 0 0 1px #bbb;
}

.img-superman-slide { margin-top: -20%; }

.mt-20 { margin-top: 20px; }

.mt-50 { margin-top: 50px; }

.mb-30 { margin-bottom: 30px; }

.mb-50 { margin-bottom: 50px; }

.nomargin { margin: 0; }

.white-text { color: var(--white); }

.bg-superman { clip-path: polygon( 0 15%, 100% 0, 100% 100%, 0 85%); }

.bg-blue { background-color: var(--blue); }

.bg-lime { background-color: var(--lime); }

.bg-red { background-color: var(--red); }

.bg-pink { background-color: var(--pink); }

.overlay-blue::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(24,105,189,0.8);
}

.clip-path-1::before {
	clip-path: polygon( 0 15%, 100% 0, 100% 100%, 0 85%);
}

.btn-buy {
	position: absolute;
    bottom: -20px;
    left: 10%;
    border-radius: 0;
    z-index: -1;
    transform: rotateZ(-5deg);
    height: 90px;
    padding-top: 42px;
    clip-path: polygon(4% 0, 96% 0, 100% 100%,0 100%);
    font-weight: 700;
    background-color: var(--red);
}

#arrow-right {
	cursor: pointer;
}

.slide-content {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

span.dots {
	position: relative;
	display: inline-block;
	width: 15%;
	height: 4px;
	background-color: var(--gray);
	margin: 0 2%;
}

span.dots.active {
	background-color: var(--red);
}

.books {
	padding-top: 50px;
}

.book-container {
	padding-top: 50px;
}
.book-panel {
	width: 100%;
	transition: all 0.3s;
}

.book-panel:hover {
	box-shadow: 0 0 30px #bbb;
}

.book-panel:hover .onhover-details {
	visibility: visible;
}

.book-panel-header {
	padding: 10px 20px;
	text-align: right;
	color: var(--white);
}

.book-panel-body {
	padding: 0 20px 20px 20px;
}

.book-panel-content {
	display: flex;
    align-items: flex-end;
}

.book-img {
	padding-right: 0;
}

.book-img img {
	margin-top: -70px;
}

.book-info {
	display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    min-height: 160px;
}

.book-info p {
	margin: 0;
}

.onhover-details {
	visibility: hidden;
}

.book-price {
	font-size: 3rem;
	font-weight: 700;
	font-family: 'Roboto Condensed', sans-serif;
	color: var(--darkslategray);
}

.btn-phantom {
	height: 100%;
	background: transparent;
	border: 1px solid var(--darkslategray);
	border-radius: 20px;
	font-size: 1.5rem;
    padding: 8px 15px;
	transition: all 0.3s;
}

.btn-phantom:hover {
	color: var(--white);
	background-color: var(--darkslategray);
}

.btn-phantom:focus {
	outline: none;
}

.banner {
	position: relative;
	padding-top: 80px;
	padding-bottom: 80px;
}
.banner > div {
	position: relative;
	background: #c0392b;
	background: -webkit-linear-gradient(to left, #8e44ad, #c0392b);
	background: linear-gradient(to left, #8e44ad, #c0392b);
}

.banner > div::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	clip-path: polygon( 0 0, 100% 0, 100% 100%, 50% 100%);
}

.banner-container {
	padding-top: 30px;
	padding-bottom: 80px;
}

.banner .display-text {
	font-family: 'Roboto Condensed', sans-serif;
	color: var(--white);
	font-size: 5rem;
	font-weight: 700;
	text-shadow: 0 0 30px var(--white);
	margin: 10px 0;
}

.ironman-banner {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}

.btn-banner-container {
	position: absolute;
	left: 17%;
	bottom: -40px;
	height: 80px;
}

.btn-banner {
	height: 100%;
	font-size: 2rem;
	font-weight: 700;
	border-radius: 40px;
	color: var(--white);
	background-color: var(--blue);
	transition: all 0.3s;
}

.btn-banner:hover {
	color: var(--white);
}

.coming-soon {
	padding-bottom: 80px;
}

.book-row-3 {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

footer {
	overflow: hidden;
}

.footer-top {
	padding: 30px 0;
	border-top: 1px solid var(--darkslategray);
}

.newsletter-input {
	width: 100%;
    border: none;
    height: 40px;
    padding: 5px 15px;
    border-bottom: 1px solid var(--darkslategray);
}

.newsletter-input:focus {
	outline: none;
}

.link-tel {
	color: var(--darkslategray);
}

.link-tel:hover {
	color: var(--darkslategray);
	text-decoration: none;
}

.icons-container {
	margin-top: 15px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.icons-container a {
	color: var(--gray);
}

.icons-container a:hover {
	color: var(--darkslategray);
}

.icons-container i.fa {
	font-size: 2rem;
}

.footer-bottom {
	color: var(--white);
	background-color: var(--darkslategray);
	padding-top: 20px;
	padding-bottom: 10px;
}